@media only screen and (min-device-width: 480px) and (max-width: 768px) {
    .indices{
        justify-content: center;
    }
    .indice1{
        justify-content: center;
    }
    .image1{
        box-sizing:border-box;

    }
    
}


/*formato del título cabecera*/
.h1{
    position:relative; 
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;  
    display:flex;
    justify-content: center;
}

.image1{
    width: 50%;
    height: 20em;
    display:flex;
    justify-content: center;
}


.container{
    position:sticky;
    display: inline-block;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
}

.texto-encima{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black; width: 50%;
    color: white;
}

.table {
	display: flex;   
	margin: 0 auto;
    justify-content: center;
}

ul#horizontal-list {
	min-width: 500px;
	list-style: none;
	}
	ul#horizontal-list li {
		display: inline;
	}

.indice1{
    position: relative; 
    padding: 3px 3px; 
    background-color:greenyellow; 
    color: #ffffff; 
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
}

.indices{
    position: relative; 
    padding: 3px 3px; 
    background-color: #2e518b; 
    color: #ffffff; 
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
}

.indices:hover{
    background-color:greenyellow;
}

.seccion{
    position:relative; left: 25%; top: 0.8em;
    background-color: aliceblue;
    display:flex;
    flex-direction: column;
    width: 400px;
    
}
/* logo del equipo
.left{
    position: relative; left: 23%; top: -5em;
    display:flex;
    box-sizing:border-box;
    padding: 1%;
}*/

/* tabla - schedule.html*/
table{   
    font-size: 20px; margin: 45px; width: 580px; text-align: left; border-collapse: collapse; 
}
th{
    font-size: 23px; font-weight: bolder; padding: 8px; text-align: left;    
}
td {padding: 8px;}

/*espaciado del cuerpo del texto*/
.parrafo-schedule{
    line-height: 100%;
}

