@media only screen and (min-device-width: 480px) and (max-width: 768px) {
    .indices{
        justify-content: center;
    }
    .indice1{
        justify-content: center;
    }
    table{   
    font-size: 10%; margin: 3%; width: 58%; text-align: left; border-collapse: collapse; 
}
th{
    font-size: 150%; font-weight: bolder; padding: 2%; text-align: left;    
}
td {padding: 2%;}
    
}

/*formato del título cabecera*/
.h1{
    position:relative; 
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;  
    display:flex;
    justify-content: center;
}
/*imagen primcipal*/
.image1{
    width: 90%;
    height: 20rem;
    display:flex;
    justify-content: center;
}

/*imagen principal y texto foot*/
.container{
    position:sticky;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    width: 100%;
}

/*texto foot*/
.texto-encima{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black; width: 90%;
    color: white;
}

/*inicio de barra de menú*/
.table {
	display: flex;   
	margin: 0 auto;
    justify-content: center;
}
ul#horizontal-list {
	min-width: 500px;
	list-style: none;
	}
	ul#horizontal-list li {
		display: inline;
	}
.indice1{
    position: relative; 
    padding: 3px 3px; 
    background-color:greenyellow; 
    color: #ffffff; 
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
}


.indices{
    position: relative; 
    padding: 3px 3px; 
    background-color: #2e518b; 
    color: #ffffff; 
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
}

.indices:hover{
    background-color:greenyellow;
}
/*Fin de barra de menú*/

/*cuerpo de la página*/
.seccion{
    position:relative; left: 12%;
    background-color: aliceblue;
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 83%;
    top: 0.8rem;
}


/*logo del equipo*/
.left{
    position:absolute; left: 6%;  
    display:flex;
    width: 5%;
    
}

/* tabla, dentro de schedule.html*/
table{
    justify-content: center; 
    position: relative;  
    font-size: 100%; margin: 1%; width: 30%; text-align: left; border-collapse: collapse; 
}
th{
    font-size: 150%; font-weight: bolder; padding-left: 2%; text-align: left;    
}
td {padding: 2%;}

/*espaciado del cuerpo del texto en form.html, schedule.html y contact.html*/
.parrafo-schedule{
    line-height: 200%;

}

